{% extends 'layout.html'%}

{% block title %}
	Phishing Website Detection
{% endblock title %}

{% block body %}
		<div class="jumbotron text-center">
	<center>
		<h3>PhishingWebsiteDetection</h3>
		<p class=lead>
		Many people use the internet and with it come a plethora of online attacks that they need to safeguard themselves from. 
		There are multiple websites who ask user to provide sensitive data such as username, password or credit card details etc. often for malicious reasons.
		These type of websites are known as phishing websites and in order to detect and predict phishing website, a system is proposed that is based on binary classification.
		Many URL features were extracted and Decision Tree Classifier was selected out of all the trained models as it gave the highest accuracy.
		</p>
	</center>
	</div>
{% endblock body %}
		