{% extends 'layout.html'%} {% block title %} Phishing Website Detection
{% endblock title %} {% block body %}
<div class="jumbotron text-center" style="background-color: #000; color:#f7ece1;">
	<center>
		<h3 style="font-family: 'HortaRegular';
		font-weight: bold;
		font-style: normal;"></b>PHISHING WEBSITE DETECTION</h3>

		<form method="POST" action="{{url_for('getURL')}}">
			<div class=form-group>
				<table cellpadding=10 cellspacing=25>
					<tr>
						<td><input type=text name="url" placeholder="Enter a url"
							value="{{request.form.url}}" required size=90 /></td>
						<td align="center"><input class=btn btn-primary type=submit
							value="Check URL" style="background-color: silver; color:#393E46" /></td>

					</tr>
					<tr>
						<td align="center">{% if error %} {% if error == 'The URL seems fine'
							%}
							<p style="color: #80ED99;">
								<strong>{{error}}</strong>
							</p> {% else %}
							<p style="color: red;">
								<strong>{{error}}</strong>
							</p> {% endif %} {% endif %}
							
						</td>
					</tr>
				</table>
			</div>
		</form>
		
	</center>
</div>
{% endblock body %}
